{% extends 'base/base.html' %}
{% load attr_html %}

{% block content %}
    <div class="container">
        <div class="col-6">
            <form action="" method="post">
                {% csrf_token %}
                <div class="row">
                    <div id="time" class="col-lg-6 col-md-6 col-sm-12 col-xs-12"><h4>Time:</h4>{{ form.time|attr:"form-control" }}</div>
                    <div id="open" class="col-lg-6 col-md-6 col-sm-12 col-xs-12"><h4>Open:</h4> {{ form.open|attr:"form-control" }}</div>
                    <div id="close" class="col-lg-6 col-md-6 col-sm-12 col-xs-12"><h4>Close:</h4>{{ form.close|attr:"form-control" }}</div>
                    <div id="high" class="col-lg-6 col-md-6 col-sm-12 col-xs-12"><h4>High:</h4>{{ form.high|attr:"form-control" }}</div>
                    <div id="low" class="col-lg-6 col-md-6 col-sm-12 col-xs-12"><h4>Low:</h4>{{ form.low|attr:"form-control" }}</div>
                </div>
                <div class="submit mt-1 col-12"><h4></h4><input class="btn" type="submit" value="Отправить" /></div>
            </form>
        </div>
    </div>
{% endblock %}