{% extends 'base/base.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/data.css' %}">
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="charts">
                <div class="row">
                    <div id="main" class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="width: 100%; min-height: 400px"></div>
                    <div id="chart_high" class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="width: 100%; min-height: 400px"></div>
                </div>
            </div>
            <div class="col-12">
                <table class="display" style="min-width:100%" id="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Time</th>
                            <th>Open</th>
                            <th>Close</th>
                            <th>High</th>
                            <th>Low</th>
                        </tr>
                    </thead>

                    <tbody id="tbody">
                        {% for i in values %}

                        <tr>
                            <td><a href="{% url 'data_update' pk=i.pk %}">{{ i.id }}</a></td>
                            <td>{{ i.time }}</td>
                            <td>{{ i.open }}</td>
                            <td>{{ i.close }}</td>
                            <td>{{ i.high }}</td>
                            <td>{{ i.low }}</td>
                        </tr>

                        {% endfor %}
                    </tbody>

                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Time</th>
                            <th>Open</th>
                            <th>Close</th>
                            <th>High</th>
                            <th>Low</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'js/charts.js' %}"></script>
    <script src="{% static 'js/data_ajax.js' %}"></script>
    <script src="{% static 'js/table.js' %}"></script>
{% endblock %}